.navbar-default {
    background-color: #d44500;
    border-bottom: 2px solid #3e3d3c;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #3e3d3c;
}

.navbar-default .navbar-nav>li a:hover {
    background-color: #eaebec;
    color: #5c5c5c;
}

.navbar-default .dropdown-menu>.active>a,
.navbar-default .dropdown-menu>.active>a:hover {
    background-color: #eaebec;
    color: #5c5c5c;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .dropdown-menu {
    background-color: #5c5c5c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c5c5c;
}